.container{
    height: 40vh;
    width: 30%;
    background-color: gray;
    color:white;
    text-align: center;
    padding: 30px 20px;
}
button{
    cursor: pointer;
    padding: 5px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
}